*{
      box-sizing:border-box;
  }
  
  body {
    margin:0;
    padding:0;
  }
  
  @keyframes drift{
      0%{
        transform: rotate(0deg);
      }
      25%{
        transform: rotate(1deg);
      }
      50%{
        transform: rotate(2deg);
      }
      100%{
        transform: rotate(-3deg);
      }
      
  }
  
  
  body, html{
      height:100%;
  }
.container{
    margin-top:20px;
    
}
  .logo{
    z-index:2;
    width:50px;
    height:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: #3e525b solid 1px;
    height:50px;
  }

  .main{
    background-image:url("assets/duck.jpeg");
    z-index:1;
    height:100%;
    filter:blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    animation: drift 3000ms infinite ease-in-out;
    animation-direction: alternate-reverse;
  }
  .mtext{
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(186, 211, 232, 0.4); /*background with opacity for text*/
    color: #3e525b;
    border: 3px dotted #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family:'Raleway', sans-serif;
  }
  
  h1{
      font-size:50px;
  }

  .footnote{
    text-align:center;
    color: #3e525b;
  }
/*FOOTER*/
  .findex{
    margin-top:-100px;
    margin-left:40%;
    z-index:2;
    display: block;
    font-family:'Raleway', sans-serif;
    position:absolute;
  
  }
  

  .footnote a:link{
    text-decoration: none;
    color:#3e525b;
  }
  .footnote a:visited{
    text-decoration: none;
    color:#3e525b;
  }
  .footnote a:hover{
    text-decoration: none;
    color:#f4f989;
  }
  .footnote a:active{
    text-decoration: none;
  
  }
 
  .fas{
  padding-left:10px;
  padding-top:3px;
  /*margin-bottom:-5px;*/
  position:absolute;
  }


  

  /*work.html*/

  #workbod{
    background:#eafdf8;
    margin:0;
    padding:0;
  }

  header{
    /*background:linear-gradient(#2f97c1,#bae3e8,#eafdf8);*/
    height:300px;
    width:100%;
  }
header{
  
  width:100%;
  height:165px;
  position:relative;
  top:-10px;
}
  /*waves in the header*/
  header .wave{
    position:absolute;
    height:165px;
    width:100%;
    left:0;
    right:0;
    top:0;
    background-image:url("assets/wave.png");
    background:cover;
    animation-direction: normal;
    animation:wave 10s linear infinite;
    opacity:1;
  }

  header .wave:before{
    content:"";
    width:100%;
    height:165px;
    background-image:url("assets/wave.png");
    opacity:0.4;
    position:absolute;
    top:0;
    left:0;
    animation:wave-reverse 7s linear infinite;
    animation-direction: normal;
    background:cover;

  }

  header .wave:after{
    content:"";
    width:100%;
    height:171px;
    background-image:url("assets/wave.png");
    position:absolute;
    top:0;
    left:0;
    opacity:0.2;
    animation:wave-reverse 5s linear infinite;
    animation-direction: reverse;
    background:cover;
    
  }
  /*keyframes for the wave*/
@keyframes wave{
  0%{
    background-position:0;
  }
  100%{
    background-position:1360px;
  }
}

@keyframes wave-reverse{
  0%{
    background-position:1360px;
  }
  100%{
    background-position:0;
  }
}

.pictures{
  margin-top:-100px;
}

  #workfoot{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 2.5rem; 
  }

.contact{
  margin-left:35%;
}
.contact ul li{
text-align:center;
font-family:"Raleway", sans-serif;
font-size:20px;
color:#2f97c1;
text-decoration: none;
list-style:none;
display:inline-block;
}

  /*to zoom pictures on hover*/
  .zoom {
    transition: transform .2s; /* Animation */
    width: 500px;
    height: 350px;
    z-index:2;
    position:absolute;
    border-radius: 2%;
    background-image:url(assets/plotine.png);
    background-color: black;
    background-size:500px 350px;
    background-repeat: no-repeat;
    text-align:center;
  }
  
  .zoom1 {
    transition: transform .2s; /* Animation */
    width: 500px;
    height: 350px;
    z-index:2;
    position:absolute;
    border-radius: 2%;
    background-image:url(assets/shiba.png);
    background-size: 500px 350px;
    background-repeat: no-repeat;
  }
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border-radius:2%;
    background-color:black;
    background-size:500px 350px;
    
  }

  .zoom1:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border-radius:2%;
    background-color:black;
    background-size:500px 350px;
    
  }
  
  .pictures{
    position:relative;
    margin-top:2.5%;
  }

.mySlides {
  position:absolute;
  left:33%;

}