@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

*{
      box-sizing:border-box;
  }
  
  body {
    margin:0;
    padding:0;
  }
  /*animation for the background index.html*/
  @keyframes drift{
      0%{
        transform: rotate(0deg);
      }
      /*25%{
        transform: rotate(1deg);
      }
      50%{
        transform: rotate(2deg);
      }*/
      100%{
        transform: rotate(1deg);
      }
      
  }
  
  
  body, html{
      height:100%;
  }
.container{
    margin-top:20px;
    
}
  .logo{
    z-index:2;
    width:50px;
    height:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: #3e525b solid 1px;
    height:50px;
  }

  .main{
    background-image:url("assets/duck.jpeg");
    z-index:1;
    height:100%;
    filter:blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    animation: drift 3000ms infinite ease-in-out; /*animation*/
    animation-direction: alternate-reverse;
  }
  .mtext{
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(186, 211, 232, 0.4); /*background with opacity for text*/
    color:#2f97c1;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
    font-family:'Lato', sans-serif;
  }

  h1{
      font-size:50px;
  }

  .footnote{
    text-align:center;
    color: #2f97c1;
  }
/*FOOTER*/
  .findex{
    margin-top:-100px;
    margin-left:40%;
    z-index:2;
    display: block;
    font-family:'Lato', sans-serif;
    position:absolute;
  
  }
  

  .footnote a:link{
    text-decoration: none;
    color:#ffff;
  }
  .footnote a:visited{
    text-decoration: none;
    color:#ffff
  }
  .footnote a:hover{
    text-decoration: none;
    color:#f4f989;
  }
  .footnote a:active{
    text-decoration: none;
  
  }
 
  .fas{
  padding-left:10px;
  padding-top:6px;
  /*margin-bottom:-5px;*/
  position:absolute;
  }


  /*work.html*/

  #workbod{
    background:#eafdf8;
    margin:0;
    padding:0;
  }

  header{
    /*background:linear-gradient(#2f97c1,#bae3e8,#eafdf8);*/
    height:300px;
    width:100%;
  }
header{
  
  width:100%;
  height:165px;
  position:relative;
  top:-10px;
}
  /*waves in the header*/
  header .wave{
    position:absolute;
    height:165px;
    width:100%;
    left:0;
    right:0;
    top:0;
    background-image:url("assets/wave.png");
    background:cover;
    animation-direction: normal;
    animation:wave 10s linear infinite;
    opacity:1;
  }

  header .wave:before{
    content:"";
    width:100%;
    height:165px;
    background-image:url("assets/wave.png");
    opacity:0.4;
    position:absolute;
    top:0;
    left:0;
    animation:wave-reverse 7s linear infinite;
    animation-direction: normal;
    background:cover;

  }

  header .wave:after{
    content:"";
    width:100%;
    height:171px;
    background-image:url("assets/wave.png");
    position:absolute;
    top:0;
    left:0;
    opacity:0.2;
    animation:wave-reverse 5s linear infinite;
    animation-direction: reverse;
    background:cover;
    
  }
  /*keyframes for the wave*/
@keyframes wave{
  0%{
    background-position:0;
  }
  100%{
    background-position:1360px;
  }
}

@keyframes wave-reverse{
  0%{
    background-position:1360px;
  }
  100%{
    background-position:0;
  }
}

/*.container{
  position: relative;
  width: 50%;
}
*/
  #workfoot{
    position:absolute;
    bottom:0;
    width: 100%;
    height: 2.5rem; 
  }

.contact{
  margin-left:35%;
}
.contact ul li{
text-align:center;
font-family:"Raleway", sans-serif;
font-size:20px;
color:#2f97c1;
text-decoration: none;
list-style:none;
display:inline-block;
}
.contact ul li a{
text-decoration: none;
color:#2f97c1;
}
.contact ul li a:visited{
  text-decoration: none;
  color:#2f97c1;
  }

  /*pictures with overlay*/

  /*pictures*/
  .zoom img {
   position: absolute;
   top:15%;
   left:10%;
   height:30%;
   width:25%;
   border-radius:1%;
   display:block;
  }
  
  .zoom1 img{
    position: absolute;
   top:50%;
   left:10%;
   height:30%;
   width:25%;
   border-radius:1%;
   display:block;
  }

  .zoom2 img {
    position: absolute;
    top:15%;
    left:37.5%;
    height:30%;
    width:25%;
    border-radius:1%;
    display:block;
   }

  /*overlay*/
  .overlay {
    position: absolute;
    top:15%;
    left:10%;
    background-color: #008CBA;
    overflow: hidden;
    transition: .5s ease;
    width:25%;
    border-radius:1%;
  }

  .overlay-one {
    position: absolute;
    background-color: #008CBA;
    overflow: hidden;
    transition: .5s ease;
    width:25%;
    top:50%;
    left:10%;
    border-radius:1%;
  }

  .overlay-two {
    position: absolute;
    top:15%;
    left:37.5%;
    background-color: #008CBA;
    overflow: hidden;
    transition: .5s ease;
    width:25%;
    border-radius:1%;
  }
  /*overlay:hover*/
  .container:hover  .overlay{
    bottom: 0;
    height:30%;
  }
  
  .container1:hover .overlay-one {
    bottom: 0;
    height: 30%;
  }
  .container2:hover .overlay-two {
    bottom: 0;
    height:30%;
  }
  
/*text zoom*/
  .text-overlay {
    color: white;
    font-size: 20px;
    font-family:"Raleway";
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-overlay a{
    text-decoration: none; 
  }
  .text-overlay a:visited{
    text-decoration: none; 
    color:white;
  }

/*text zoom1*/
.text-overlay-one {
  color: white;
  font-size: 20px;
  font-family:"Raleway";
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  .text-overlay-one a{
    text-decoration: none; 
    color:white;
  }
  .text-overlay-one a:visited{
    text-decoration: none; 
    color:white;
  }

  /*text zoom2*/
  .text-overlay-two {
    color: white;
    font-size: 20px;
    font-family:"Raleway";
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-overlay-two a{
    text-decoration: none; 
    color:white;
  }
  .text-overlay-two a:visited{
    text-decoration: none; 
    color:white;
  }
 

